body{
    margin: 0;
    padding: 0;
    display: block; 
    width: 100%;
    overflow: hidden;
    color: #000;
    margin: 0 auto;
    height: 100vh;
    background-color: #fff;
}
form{
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    width: 50%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 20px;
    /* display: flex; */
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    flex-direction: row;
    flex-wrap: nowrap;
    box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    height: max-content;
}
.box{
    padding: 15px;
    /* width: 50%;
    max-width: 50%; */
    overflow: hidden;
    box-sizing: border-box;
    clear: both;
    display: block;
    height: 100%;
}
input{
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.box .innerbox{
    height: 100%;
    width: 100%;
    background-color: #046659;
    border-radius: 10px;
    overflow: hidden;
}
.select_tip{
    margin: 20px 0;
}
label{
    margin-bottom: 10px;
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: #046659;
}
.tip{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}
.tip button{
    width: 31%;
    background-color: #046659;
}
button:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
    opacity: 0.8;
  }
.tipamount{
    padding: 10px 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tipamount span{
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    white-space: nowrap;
}
.tipamount p{
    font-size: 35px;
    color: #3bf8df;
    margin: 0;
    word-break: break-all;
}
.reset{
    margin: 10px auto; 
    text-align: center;
    display: block;
    position: relative;
    width: 95%;
    padding: 10px;
    font-size: 1rem;
    font-weight: 700;
    color: #046659;
    background-color:#3bf8df;
    background-clip: padding-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem; 
    border: none;
}
#custom{
    width: 31%;
}
@media screen and (max-width: 650px){
    .container{
        width: 90%;
    }
    .tip{
        justify-content: space-around;
    }
    #custom,.tip button{
        width: 45%; 
    }
}